::selection {
background:#F6BB42  !important;
}
::-moz-selection {
background:#F6BB42  !important;
}

a.link-name { color:#F6BB42  !important; }

body { background: url("../../images/body-bg.png") repeat fixed 50% 0 #AC9567; }

h1, h2, h3, h4, h5, h6, .tp-caption.te-caption, .sub-title, .text-title > div > span, .text-title h4, .widget .tabs-nav li.active a, .tabs-nav li.active a { color: #453107 !important; }

.headline:after { background: none repeat scroll 0 0 #F6BB42  !important; }

.team-name span { color: #F6BB42  !important; }

.text-color-red { color: #F6BB42  !important; }

.text-color-red { color: #F6BB42  !important; }

.text-color-blue { color: #F6BB42  !important; }

.quotes .flex-control-nav li a:hover, .quotes .flex-control-nav li a.active { background: none repeat scroll 0 0 #F6BB42  !important; }

a.moduleItemReadMore:before { background: #F6BB42  !important; }

.list-style-1 li a:hover { color: #F6BB42  !important; }

.list-style li a:hover { color: #F6BB42  !important; }

.faq-accordion .qa { color: #F6BB42  !important; }

.faq_list span.marker { color:#F6BB42  !important; }

.price-column-featured h4 { background-color: #F6BB42  !important; }

span.link_post:hover { background-color: #F6BB42  !important; }

span.zoom:hover { background-color: #F6BB42  !important; }

span.video:hover { background-color: #F6BB42  !important; }

.ani-icon-wrap { background-color: #F6BB42  !important; }

.list-banners li { background: none repeat scroll 0 0 #F6BB42  !important; }

.testimonial { background: none repeat scroll 0 0 #F6BB42  !important; }

.feature-circle.blue { background-color: #F6BB42  !important; }

.info-box { border-left: 3px solid #F6BB42  !important; }

.eye:after { background-color: #F6BB42  !important; }

.eye:after { background-color: #F6BB42  !important; -webkit-box-shadow: 25px 0 0 0 #F6BB42  !important; -moz-box-shadow: 25px 0 0 0 #F6BB42  !important; box-shadow: 25px 0 0 0 #F6BB42  !important; }

.social-circle li .entypo-twitter { background-color: #F6BB42  !important; }

.menu-box-number { background: none repeat scroll 0 0 #F6BB42  !important; }

.sf-menu ul { background: none repeat scroll 0 0 #F6BB42  !important; }
.sf-menuwrapper ul { background: none repeat scroll 0 0 #F6BB42  !important; }

.dropcap-big { background: none repeat scroll 0 0 #F6BB42  !important; }

.row-2:after { border-color: #F6BB42  rgba(0, 0, 0, 0) !important; }

.row-2 { background: none repeat scroll 0 0 #F6BB42  !important; }

#accordion a:hover { background: none repeat scroll 0 0 #F6BB42  !important; border: 1px solid #D69B22 !important; }

#accordion a.selected { background: none repeat scroll 0 0 #F6BB42  !important; border: 1px solid #D69B22 !important; }

.sign-in { background: none repeat scroll 0 0 #F6BB42  !important; }

.sign-in:hover { background: none repeat scroll 0 0 #C78C13 !important; }

.menu-box .titular { background: none repeat scroll 0 0 #F6BB42  !important; }

.testimonial:after { border-color: #D69B22 rgba(0, 0, 0, 0) !important; }

.tp-button.blue, .purchase.blue { color: #ffffff; border: solid 1px #D69B22; background: #F6BB42 ; background: -webkit-gradient(linear, left top, left bottom, from(#F6BB42 ), to(#D69B22)); background: -moz-linear-gradient(top, #F6BB42 , #D69B22); -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.08); box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.08); }

.tp-button:hover.blue, .purchase:hover.blue { color: #ffffff; border: solid 1px #D69B22; background: #D69B22; background: -webkit-gradient(linear, left top, left bottom, from(#D69B22), to(#D69B22)); background: -moz-linear-gradient(top, #D69B22, #D69B22); -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.08); box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.08); }

.row-nav { background: none repeat scroll 0 0 #F6BB42  !important; }

.row-2:after { border-color: #F6BB42  rgba(0, 0, 0, 0) !important; }

.row-2 .text-2, .parallax .text-2 { color: #fff6e3 !important; }
 #owl-demo .owl-item:nth-child(2n+1) .item .pro-info {
 background: none repeat scroll 0 0 #F6BB42  !important;
}

.sf-menu li.active { background: none repeat scroll 0 0 rgba(255, 255, 255, 0.07) !important; }

.sf-menu li:hover, .sf-menu li.current-menu-item, .sf-menu li.sfHover, .sf-menu li.current-menu-parent { background: none repeat scroll 0 0 rgba(255, 255, 255, 0.07) !important; }

.sf-menu li:hover a { color: #FFFFFF !important; }

.sf-menu li .sub-menu li a { color: #fff !important; }

.post-holder .date .month { color: #FFFFFF !important; }

.blue-ft-shadow { text-shadow: rgb(231, 172, 51) 1px 1px 0px, rgb(232, 173, 52) 2px 2px 0px, rgb(232, 173, 52) 3px 3px 0px, rgb(233, 174, 53) 4px 4px 0px, rgb(233, 174, 53) 5px 5px 0px, rgb(234, 175, 54) 6px 6px 0px, rgb(234, 175, 54) 7px 7px 0px, rgb(235, 176, 55) 8px 8px 0px, rgb(235, 176, 55) 9px 9px 0px, rgb(236, 177, 56) 10px 10px 0px, rgb(236, 177, 56) 11px 11px 0px, rgb(237, 178, 57) 12px 12px 0px, rgb(237, 178, 57) 13px 13px 0px, rgb(238, 179, 58) 14px 14px 0px, rgb(238, 179, 58) 15px 15px 0px, rgb(239, 180, 59) 16px 16px 0px, rgb(239, 180, 59) 17px 17px 0px, rgb(240, 181, 60) 18px 18px 0px, rgb(240, 181, 60) 19px 19px 0px, rgb(241, 182, 61) 20px 20px 0px, rgb(241, 182, 61) 21px 21px 0px, rgb(242, 183, 62) 22px 22px 0px, rgb(242, 183, 62) 23px 23px 0px, rgb(243, 184, 63) 24px 24px 0px, rgb(243, 184, 63) 25px 25px 0px, rgb(244, 185, 64) 26px 26px 0px, rgb(244, 185, 64) 27px 27px 0px, rgb(245, 186, 65) 28px 28px 0px, rgb(245, 186, 65) 29px 29px 0px, rgb(246, 187, 66) 30px 30px 0px; }

.post-holder .date { background-color: #737373 !important; color:#fff !important; text-shadow: 1px -1px 0px #333 !important; }

.button.yellow, input[type="button"] { background-color: #F6BB42  !important; color:#fff !important; }

.button.yellow:hover { background: #F6BB42 !important; }

#owl-demo-1 .item a:hover { background: none repeat scroll 0 0 rgba(246, 187, 66, 0.9) !important; }

.owl-theme .owl-controls .owl-page span { background: none repeat scroll 0 0 #453107 !important; }

.da-thumbs li article { background: none repeat scroll 0 0 rgba(246, 187, 66, 0.9) !important;  }

.overlay.zoom { background: url("../images/icons/overlay.png") no-repeat scroll center center rgba(246, 187, 66, 0.9); }

.caption-style-2 .blur { background-color: rgba(246, 187, 66, 0.7) !important; }

.parallax .inner { background: none repeat scroll 0 0 rgba(21, 15, 2, 0.6) !important; }

footer { background: none repeat scroll 0 0 #1C1C1C !important; }

.footer-blocks { background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1) !important; }

input[type="text"] { background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1) !important; border: 1px solid rgba(0, 0, 0, 0.13) !important; }

input[type="text"]:focus { border: 1px solid rgba(0, 0, 0, 0.6) !important; }

.tweet.first { border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important; }

.scnd-font-color { color: #777777 !important; }

.menu-box-tab { border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important; }

.menu-box-tab:hover { background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1) !important; }
